#  MİUUL-GEZİNOMİ

### Kütüphaneleri çağırma

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

### Veri Yükleme

In [2]:
data = pd.read_excel("miuul_gezinomi.xlsx") # veriyi çağırma

### Veri Hazırlığı

In [8]:
data.head() # ilk 5 satırı görüntüleme

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

In [9]:
# veri hakkında bilgi
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB

In [10]:
# veri hakkında özet bilgi
data.describe()

,SaleId,SaleDate,CheckInDate,Price,SaleCheckInDayDiff
count,59164.000000,59164,59164,59151.000000,59164.000000
mean,302675.795433,2021-02-11 17:13:11.751740928,2021-03-15 11:23:01.732134400,61.345057,31.840173
min,51707.000000,2016-01-02 00:00:00,2007-07-20 00:00:00,0.000000,0.000000
25%,274038.500000,2020-08-19 00:00:00,2020-08-24 00:00:00,35.343035,2.000000
50%,321607.000000,2021-07-28 00:00:00,2021-08-16 00:00:00,54.261294,10.000000
75%,367373.000000,2022-05-10 00:00:00,2022-07-04 00:00:00,77.962578,34.000000
max,415122.000000,2022-12-03 00:00:00,2023-08-16 00:00:00,4880.471380,630.000000
std,87943.222683,NaN,NaN,51.384617,51.493509

In [11]:
# her sütundaki eksik değerlerin kontrolü
data.isnull().sum()

SaleId                 0
SaleDate               0
CheckInDate            0
Price                 13
ConceptName            0
SaleCityName           0
CInDay                 0
SaleCheckInDayDiff     0
Seasons                0
dtype: int64

In [13]:
data.shape

(59164, 9)

### Verilerle İlgili Bilgiler

In [31]:
# Kaç unique şehir vardır? 

print(data["SaleCityName"].nunique())

6

In [6]:
# Şehirler ve şehirlerin frekansları nedir?

print(data["SaleCityName"].value_counts())

SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64

In [7]:
# Kaç unique Concept vardır?

print(data["ConceptName"].nunique())

3

In [8]:
# Hangi Concept’den kaçar tane satış gerçekleşmiş?

print(data["ConceptName"].value_counts())

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64

In [9]:
# Şehirlere göre satışlardan toplam ne kadar kazanılmış?
data.groupby("SaleCityName").agg({"Price" : "sum"}).reset_index()

  SaleCityName         Price
0      Antalya  2.041911e+06
1        Aydın  5.732960e+05
2        Diğer  1.545723e+05
3        Girne  2.706503e+04
4        Muğla  6.658422e+05
5        İzmir  1.659348e+05

In [10]:
# Concept türlerine göre göre ne kadar kazanılmış

data.groupby("ConceptName").agg({"Price" : "sum"}).reset_index()

      ConceptName         Price
0    Herşey Dahil  3.332911e+06
1  Oda + Kahvaltı  1.213084e+05
2  Yarım Pansiyon  1.744024e+05

In [11]:
# Şehirlere göre PRICE ortalamaları nedir?

data.groupby("SaleCityName").agg({"Price" : "mean"}).reset_index()

  SaleCityName      Price
0      Antalya  64.521474
1        Aydın  53.855896
2        Diğer  47.707497
3        Girne  59.483579
4        Muğla  62.461746
5        İzmir  66.267905

In [12]:
# Conceptlere göre PRICE ortalamaları nedir?
data.groupby("ConceptName").agg({"Price" : "mean"}).reset_index()

      ConceptName      Price
0    Herşey Dahil  62.672260
1  Oda + Kahvaltı  50.252010
2  Yarım Pansiyon  49.030742

In [13]:
# Şehir-Concept kırılımında PRICE ortalamalarınedir?

data.groupby(by=["SaleCityName","ConceptName"]).agg({"Price" : "mean"}).reset_index()

   SaleCityName     ConceptName      Price
0       Antalya    Herşey Dahil  64.519028
1       Antalya  Oda + Kahvaltı  63.504816
2       Antalya  Yarım Pansiyon  67.190613
3         Aydın    Herşey Dahil  53.995467
4         Aydın  Oda + Kahvaltı  34.458787
5         Aydın  Yarım Pansiyon  30.016543
6         Diğer    Herşey Dahil  84.771093
7         Diğer  Oda + Kahvaltı  37.599082
8         Diğer  Yarım Pansiyon  42.113440
9         Girne    Herşey Dahil  97.680970
10        Girne  Oda + Kahvaltı  39.775536
11        Girne  Yarım Pansiyon  53.247838
12        Muğla    Herşey Dahil  63.020053
13        Muğla  Oda + Kahvaltı  59.037763
14        Muğla  Yarım Pansiyon  45.120924
15        İzmir    Herşey Dahil  74.701519
16        İzmir  Oda + Kahvaltı  41.320342
17        İzmir  Yarım Pansiyon  59.610053

In [14]:
# SaleCheckInDayDiff değişkenini kategorik bir değişkene çeviriniz

bins = [-1,7,30,90, data["SaleCheckInDayDiff"].max()] # değerlerinin hangi aralıklara ayrılacağını belirlendi 
labels = ["Last Minuters", "Potential Planners", "Planners", "Early Bookers"]
# her aralığın hangi kategoriye ait olduğunu açıklayan etiketler

data["EB_Score"] = pd.cut(data["SaleCheckInDayDiff"], bins, labels=labels)
# SaleCheckInDayDiff değerlerini bu aralıklara ve etiketlere göre kategorik bir sütuna dönüştürdük 
data.head(50).to_excel("eb_score.xlsx", index=False) # dönüştürülmüş ver bir Excel dosyasına kaydedildi

In [ ]:
Şehir-Concept-EB Score, Şehir-Concept- Sezon, Şehir-Concept-CInDay kırılımında ortalama ödenen ücret ve 
yapılan işlem sayısı cinsinden inceleyiniz ?

In [16]:
# Şehir-Concept-EB_Score krılımında ücret ortalamaları

data.groupby(by=["SaleCityName", "ConceptName", "EB_Score"]).agg({"Price" : ["mean","count"]}).reset_index()

   SaleCityName     ConceptName            EB_Score      Price
                                                          mean  count
0       Antalya    Herşey Dahil       Last Minuters  62.752916  14148
1       Antalya    Herşey Dahil  Potential Planners  64.903700   8874
2       Antalya    Herşey Dahil            Planners  67.879960   4490
3       Antalya    Herşey Dahil       Early Bookers  66.494885   3281
4       Antalya  Oda + Kahvaltı       Last Minuters  65.353740    503
..          ...             ...                 ...        ...    ...
67        İzmir  Oda + Kahvaltı       Early Bookers  66.928111      3
68        İzmir  Yarım Pansiyon       Last Minuters  57.788126    636
69        İzmir  Yarım Pansiyon  Potential Planners  64.804043    198
70        İzmir  Yarım Pansiyon            Planners  60.507887     47
71        İzmir  Yarım Pansiyon       Early Bookers  65.905583     14

[72 rows x 5 columns]

In [18]:
# Şehir-Concept-Sezon krılımında ücret ortalamaları

data.groupby(by=["SaleCityName", "ConceptName", "Seasons"]).agg({"Price" : ["mean","count"]}).reset_index()

   SaleCityName     ConceptName Seasons       Price
                                               mean  count
0       Antalya    Herşey Dahil    High   64.920065  27126
1       Antalya    Herşey Dahil     Low   61.552427   3667
2       Antalya  Oda + Kahvaltı    High   66.267969    303
3       Antalya  Oda + Kahvaltı     Low   60.666730    295
4       Antalya  Yarım Pansiyon    High   73.259029    118
5       Antalya  Yarım Pansiyon     Low   62.001678    138
6         Aydın    Herşey Dahil    High   54.946560  10103
7         Aydın    Herşey Dahil     Low   33.680699    473
8         Aydın  Oda + Kahvaltı    High   30.387530     27
9         Aydın  Oda + Kahvaltı     Low   44.451874     11
10        Aydın  Yarım Pansiyon    High   32.626152     20
11        Aydın  Yarım Pansiyon     Low   25.271799     11
12        Diğer    Herşey Dahil    High   83.787273    364
13        Diğer    Herşey Dahil     Low   87.310882    141
14        Diğer  Oda + Kahvaltı    High   34.839543    349
15        Diğer  Oda + Kahvaltı     Low   39.959569    408
16        Diğer  Yarım Pansiyon    High   39.731916    516
17        Diğer  Yarım Pansiyon     Low   42.953978   1462
18        Girne    Herşey Dahil    High  103.935448     55
19        Girne    Herşey Dahil     Low   90.935944     51
20        Girne  Oda + Kahvaltı    High   39.479630     66
21        Girne  Oda + Kahvaltı     Low   40.043067     73
22        Girne  Yarım Pansiyon    High   58.383668    100
23        Girne  Yarım Pansiyon     Low   48.578903    110
24        Muğla    Herşey Dahil    High   63.384036   9582
25        Muğla    Herşey Dahil     Low   48.304086    237
26        Muğla  Oda + Kahvaltı    High   61.264691    592
27        Muğla  Oda + Kahvaltı     Low   37.774192     62
28        Muğla  Yarım Pansiyon    High   45.823698    177
29        Muğla  Yarım Pansiyon     Low   32.681812     10
30        İzmir    Herşey Dahil    High   74.748363   1234
31        İzmir    Herşey Dahil     Low   74.308287    147
32        İzmir  Oda + Kahvaltı    High   54.141797     86
33        İzmir  Oda + Kahvaltı     Low   33.555235    142
34        İzmir  Yarım Pansiyon    High   87.657303    118
35        İzmir  Yarım Pansiyon     Low   55.350626    777

In [19]:
# Şehir-Concept-CInDay krılımında ücret ortalamaları

data.groupby(by=["SaleCityName", "ConceptName", "CInDay"]).agg({"Price" : ["mean","count"]}).reset_index()

    SaleCityName     ConceptName     CInDay      Price
                                                  mean count
0        Antalya    Herşey Dahil     Friday  62.658940  4136
1        Antalya    Herşey Dahil     Monday  63.259143  6831
2        Antalya    Herşey Dahil   Saturday  64.415526  4741
3        Antalya    Herşey Dahil     Sunday  65.849177  3818
4        Antalya    Herşey Dahil   Thursday  62.892734  3898
..           ...             ...        ...        ...   ...
121        İzmir  Yarım Pansiyon   Saturday  52.504725   315
122        İzmir  Yarım Pansiyon     Sunday  98.934697    68
123        İzmir  Yarım Pansiyon   Thursday  52.484894    91
124        İzmir  Yarım Pansiyon    Tuesday  56.141381    73
125        İzmir  Yarım Pansiyon  Wednesday  54.064392    86

[126 rows x 5 columns]

In [20]:
# City-Concept-Season kırılımının çıktısını PRICE'a göre sıralayınız

agg_data = data.groupby(by=["SaleCityName", "ConceptName", "CInDay"]).agg({"Price" : "mean"}).reset_index().sort_values("Price", ascending =False)
agg_data.head(20)

    SaleCityName     ConceptName     CInDay       Price
63         Girne    Herşey Dahil     Friday  121.194452
67         Girne    Herşey Dahil   Thursday  112.378668
68         Girne    Herşey Dahil    Tuesday  111.397363
65         Girne    Herşey Dahil   Saturday  109.165407
122        İzmir  Yarım Pansiyon     Sunday   98.934697
64         Girne    Herşey Dahil     Monday   98.661745
48         Diğer    Herşey Dahil  Wednesday   91.183105
43         Diğer    Herşey Dahil     Monday   90.598043
47         Diğer    Herşey Dahil    Tuesday   90.329176
66         Girne    Herşey Dahil     Sunday   85.191823
42         Diğer    Herşey Dahil     Friday   84.656769
69         Girne    Herşey Dahil  Wednesday   83.168344
45         Diğer    Herşey Dahil     Sunday   81.613019
94         Muğla  Oda + Kahvaltı     Sunday   79.192028
109        İzmir    Herşey Dahil   Thursday   79.071643
111        İzmir    Herşey Dahil  Wednesday   79.042105
44         Diğer    Herşey Dahil   Saturday   77.225527
15       Antalya  Yarım Pansiyon     Monday   76.953874
46         Diğer    Herşey Dahil   Thursday   76.109251
110        İzmir    Herşey Dahil    Tuesday   75.605713

In [21]:
# Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
# Yeni eklenecek değişkenin adı: sales_level_based

agg_data["sales_level_based"] = agg_data[["SaleCityName", "ConceptName", "CInDay"]].agg(lambda x: '_'.join(x).upper(), axis=1)

In [22]:
# Yeni müşterileri (personaları) segmentlere ayırınız.

agg_data["SEGMENT"] = pd.cut(agg_data["Price"], 4, labels=["D", "C", "B", "A"])
agg_data.head(20)

,SaleCityName,ConceptName,CInDay,Price,sales_level_based,SEGMENT
63,Girne,Herşey Dahil,Friday,121.194452,GIRNE_HERŞEY DAHIL_FRIDAY,A
67,Girne,Herşey Dahil,Thursday,112.378668,GIRNE_HERŞEY DAHIL_THURSDAY,A
68,Girne,Herşey Dahil,Tuesday,111.397363,GIRNE_HERŞEY DAHIL_TUESDAY,A
65,Girne,Herşey Dahil,Saturday,109.165407,GIRNE_HERŞEY DAHIL_SATURDAY,A
122,İzmir,Yarım Pansiyon,Sunday,98.934697,İZMIR_YARIM PANSIYON_SUNDAY,A
64,Girne,Herşey Dahil,Monday,98.661745,GIRNE_HERŞEY DAHIL_MONDAY,A
48,Diğer,Herşey Dahil,Wednesday,91.183105,DIĞER_HERŞEY DAHIL_WEDNESDAY,B
43,Diğer,Herşey Dahil,Monday,90.598043,DIĞER_HERŞEY DAHIL_MONDAY,B
47,Diğer,Herşey Dahil,Tuesday,90.329176,DIĞER_HERŞEY DAHIL_TUESDAY,B
66,Girne,Herşey Dahil,Sunday,85.191823,GIRNE_HERŞEY DAHIL_SUNDAY,B
42,Diğer,Herşey Dahil,Friday,84.656769,DIĞER_HERŞEY DAHIL_FRIDAY,B
69,Girne,Herşey Dahil,Wednesday,83.168344,GIRNE_HERŞEY DAHIL_WEDNESDAY,B
45,Diğer,Herşey Dahil,Sunday,81.613019,DIĞER_HERŞEY DAHIL_SUNDAY,B
94,Muğla,Oda + Kahvaltı,Sunday,79.192028,MUĞLA_ODA + KAHVALTI_SUNDAY,B
109,İzmir,Herşey Dahil,Thursday,79.071643,İZMIR_HERŞEY DAHIL_THURSDAY,B
111,İzmir,Herşey Dahil,Wednesday,79.042105,İZMIR_HERŞEY DAHIL_WEDNESDAY,B
44,Diğer,Herşey Dahil,Saturday,77.225527,DIĞER_HERŞEY DAHIL_SATURDAY,B
15,Antalya,Yarım Pansiyon,Monday,76.953874,ANTALYA_YARIM PANSIYON_MONDAY,B
46,Diğer,Herşey Dahil,Thursday,76.109251,DIĞER_HERŞEY DAHIL_THURSDAY,B
110,İzmir,Herşey Dahil,Tuesday,75.605713,İZMIR_HERŞEY DAHIL_TUESDAY,B

In [25]:
agg_data.groupby("SEGMENT").agg({"Price" : ["mean", "max", "sum"]}).reset_index()

  SEGMENT       Price
                 mean         max          sum
0       D   38.057416   47.364006  1750.641120
1       C   59.193174   71.402663  3314.817762
2       B   80.219989   91.183105  1443.959805
3       A  108.622055  121.194452   651.732332

In [35]:
# Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.

agg_data.sort_values(by="Price")

,SaleCityName,ConceptName,CInDay,Price,sales_level_based,SEGMENT
39,Aydın,Yarım Pansiyon,Thursday,22.777604,AYDIN_YARIM PANSIYON_THURSDAY,D
30,Aydın,Oda + Kahvaltı,Saturday,23.930596,AYDIN_ODA + KAHVALTI_SATURDAY,D
35,Aydın,Yarım Pansiyon,Friday,24.516055,AYDIN_YARIM PANSIYON_FRIDAY,D
34,Aydın,Oda + Kahvaltı,Wednesday,25.948854,AYDIN_ODA + KAHVALTI_WEDNESDAY,D
37,Aydın,Yarım Pansiyon,Saturday,29.703154,AYDIN_YARIM PANSIYON_SATURDAY,D
...,...,...,...,...,...,...
122,İzmir,Yarım Pansiyon,Sunday,98.934697,İZMIR_YARIM PANSIYON_SUNDAY,A
65,Girne,Herşey Dahil,Saturday,109.165407,GIRNE_HERŞEY DAHIL_SATURDAY,A
68,Girne,Herşey Dahil,Tuesday,111.397363,GIRNE_HERŞEY DAHIL_TUESDAY,A
67,Girne,Herşey Dahil,Thursday,112.378668,GIRNE_HERŞEY DAHIL_THURSDAY,A
63,Girne,Herşey Dahil,Friday,121.194452,GIRNE_HERŞEY DAHIL_FRIDAY,A

In [38]:
new_user = "GIRNE_HERŞEY DAHIL_THURSDAY"
agg_data[agg_data["sales_level_based"] == new_user]

,SaleCityName,ConceptName,CInDay,Price,sales_level_based,SEGMENT
67,Girne,Herşey Dahil,Thursday,112.378668,GIRNE_HERŞEY DAHIL_THURSDAY,A